<p fundoAmarelo>
  Texto com fundo amarelo
</p>

<button fundoAmarelo>Botão com fundo amarelo</button>

<p highlightMouse>
  Texto com highlight quando passar o mouse.
</p>

<p highlight [defaultColor]="'grey'" [highlightColor]="'red'">
  Texto com highlight com cores customizadas.
</p>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>

<div *ngElse="mostrarCursos">
  Não existem cursos para serem listados.
</div>

<br>

<button (click)="mostrarCursos = !mostrarCursos">Mostrar ou enconder cursos</button>
