<section>
  <article>
    <select #conteudo (change)="0">
      <option value="if">*ngIf</option>
      <option value="switch">*ngSwitch</option>
      <option value="for">*ngFor</option>
      <option value="class">ngClass</option>
      <option value="style">ngStyle</option>
      <option value="elvis">Operador Elvis</option>
      <option value="content">ng-content</option>
    </select>
  </article>
</section>

<ng-container *ngIf="conteudo.value == 'if'">
  <app-diretiva-ngif></app-diretiva-ngif>
</ng-container>

<ng-container *ngIf="conteudo.value == 'switch'">
  <app-diretiva-ngswitch></app-diretiva-ngswitch>
</ng-container>

<ng-container *ngIf="conteudo.value == 'for'">
  <app-diretiva-ngfor></app-diretiva-ngfor>
</ng-container>

<ng-container *ngIf="conteudo.value == 'class'">
  <app-diretiva-ngclass></app-diretiva-ngclass>
</ng-container>

<ng-container *ngIf="conteudo.value == 'style'">
  <app-diretiva-ngstyle></app-diretiva-ngstyle>
</ng-container>

<ng-container *ngIf="conteudo.value == 'elvis'">
  <app-operador-elvis></app-operador-elvis>
</ng-container>

<!-- <ng-container *ngIf="conteudo.value == 'content'">
  <app-ng-content>
      Conteudo passado para o componente.
  </app-ng-content>
</ng-container> -->

<ng-container *ngIf="conteudo.value == 'content'">
  <app-ng-content>
    <div class="titulo">
      Título do card
    </div>
    <div class="conteudo">
      Conteudo passado para o componente.
    </div>
    <div class="conteudo">
      Conteudo passado para o componente 2.
    </div>
  </app-ng-content>
</ng-container>
