<section>
    <!-- OPÇÕES -->
    <article>
        <select #conteudo (change)="0">
            <option value="interpolacao">Interpolação</option>
            <option value="property-binding">Property Binding</option>
            <option value="style-binding">Class e Style Binding</option>
            <option value="event-binding">Event Binding</option>
        </select>
    </article>
    <!-- FIM OPÇÕES -->

    <!-- INTERPOLAÇÃO -->
    <article *ngIf="conteudo.value == 'interpolacao'">
        <h3>Interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
        <p>Curso de angular e gosto do curso {{ cursoAngular && getCurtirCurso() }}</p>
    </article>
    <article *ngIf="conteudo.value == 'property-binding'">
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
    </article>
    <!-- FIM INTERPOLAÇÃO -->

    <!-- CLASS E STYLE BINDING -->
    <article *ngIf="conteudo.value == 'style-binding'">
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="success">Sucesso</option>
                <option value="info">Info</option>
                <option value="warning">Alerta</option>
                <option value="danger">Erro</option>
            </select>
            <br><br>
            <alert type="{{ classe.value }}">
                <strong>Dinâmico conforme o valor selecionado</strong>
            </alert>
            <alert type="danger" [style.display]="classe.value == 'danger' ? 'block' : 'none'">
                <strong>Esse texto só aparece em caso de erro</strong>
            </alert>
            <alert type="{{ classe.value == 'success' && 'success' }}">
                <strong>Sucesso</strong>
            </alert>
            <alert type="{{ classe.value == 'info' && 'info' }}">
                <strong>Info</strong>
            </alert>
            <alert type="{{ (classe.value == 'warning' && 'warning') }}">
                <strong>Alerta</strong> Better check yourself, you're not looking too good.
            </alert>
            <alert type="{{ classe.value == 'danger' && 'danger' }}">
                <strong>Erro</strong> Change a few things up and try submitting again.
            </alert>
        </div>
    </article>
    <!-- FIM CLASS E STYLE BINDING -->

    <!-- EVENT BINDING -->
    <article *ngIf="conteudo.value == 'event-binding'">

    </article>
    <!-- FIM EVENT BINDING -->
</section>